

@keyframes expand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes avatar-outline-move {
  0% {
    left: 100px;
  }
  100% {
    left: -50px;
  }
}

@keyframes avatar-img-rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

.profile-container {
  margin: 100px 100px;
  background:gray;
}

.profile-bg {
  width: 300px;
  height: 100px;
  display: flex;

  background: linear-gradient(80deg, #E9F3E6 0% 70%, white 70% 100%) no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgb(201, 201, 201);

  animation: expand 0.5s ease-in;
}

.avatar-outline {
  float: left;
  position: relative;
  top: -100px;
  left: -50px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: -10px 0 25px 2.5px rgb(201, 201, 201);

  animation: avatar-outline-move 0.5s ease-in;
}

.avatar-img-container {
  position: relative;
  top: 5px;
  left: 5px;

  height: 90px;
  width: 90px;
  border-radius: 50%;

  background: url(./e2.jpeg) no-repeat;
  background-size: 90px;

  animation: avatar-img-rotate 0.5s ease-in;
}

.icon-container {
  width: 60px;
  height: 20px;
  background-color: greenyellow;

  display: flex;
  position: relative;
}