

@keyframes expand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes op_popup {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  90% {
    transform: scale(200%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes avatar-outline-move {
  0% {
    left: 100px;
  }
  100% {
    left: -50px;
  }
}

@keyframes avatar-img-rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}



.profile-container {
  margin: 100px 100px;
  background:gray;
}

.profile-bg {
  width: 300px;
  height: 100px;

  background: linear-gradient(80deg, #E9F3E6 0% 70%, white 70% 100%) no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgb(201, 201, 201);

  animation: expand 0.5s ease-in;
}

.avatar-outline {
  float: left;
  position: relative;
  top: -100px;
  left: -50px;
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: -10px 0 25px 2.5px rgb(201, 201, 201);

  animation: avatar-outline-move 0.5s ease-in;
}

.avatar-img-container {
  position: relative;
  top: 5px;
  left: 5px;

  height: 90px;
  width: 90px;
  border-radius: 50%;

  background: url(./e2.jpeg) no-repeat;
  background-size: 90px;

  animation: avatar-img-rotate 0.5s ease-in;
}

.palate {
  position: relative;
  top: -125px;
  left: 230px;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aabbcd;

  

  transition: 0.3s;

  animation: op_popup 1s cubic-bezier(.27,.62,.62,1.61);
}

.palate:hover {
  box-shadow: 0 0 0 5px #c7ccd1;
}

.tool-img-container {
  width:30px;
  height:30px;

  background: url(./icons/three-lines.png) no-repeat;
  background-size: 100%;
}

.white-bg {
  position: relative;
  top: -25px;
  left: 220px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  opacity: 0;

  transition-duration: 0.2s;

  background-color: white;
}

@keyframes icon-fly {
  0% {
    /* transform: translateX(100px); */
  }

  50% {
    transform: matrix(1,0, 0,1,100,-50);
  }

  100% {
    transform: matrix(1,0,0,1,100,-100);
  }
}

/* @keyframes icon-fly-y {


} */

.icon-github {
  width: 40px;
  height: 40px;
  /* position: relative; */
  left: 100px;

  background: url('./icons/github.png') no-repeat;
  background-size: 100%;
  /* animation: icon-fly 1s linear;
  animation-fill-mode: forwards; */
}
